.grid-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: space-around;
}

.grid-item {
  flex-grow: 1;
  position: relative;
  flex-basis: calc(25% - 10px); /* Default: 4 items in a row for desktop */
  width: auto;
  background-color: #00000083;
  border-radius: 8px;
  cursor: pointer;
}

@media screen and (max-width: 1024px) {
  .grid-item {
    flex-basis: calc(33.33% - 10px); /* 3 items in a row for tablets */
  }
}

@media screen and (max-width: 767px) {
  .grid-item {
    
    flex-basis: calc(50% - 10px); /* 1 items in a row for mobile */
  }
}


.poster{
  /* margin: 5% 5% 0 5%; */
  aspect-ratio: 150/200;
  border-radius: 8px;
}
.poster img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}
.anime-name {
  font-weight: 600;
  background-color: transparent;
  position: absolute;
  width: 100%;
  height: 100%;
  transform: translate(0,-100%);
  z-index: 1;
  font-style: oblique;
  background: linear-gradient(0deg, rgba(0,0,0,1) 7%, rgba(0,0,0,0) 40%, rgba(0,0,0,0) 72%, rgba(0,0,0,0) 100%);
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 1em; /* Default font size */
  border-radius: 8px;
}
.non-hover-p{
  position: absolute;
  bottom: 0;
  width: 100%;
}
@media screen and (max-width: 1024px) {
  .anime-name {
    font-size: 0.9em; /* Adjusted font size for tablets */
  }
}

@media screen and (max-width: 767px) {
  .anime-name {
    font-size: 0.65em; /* Adjusted font size for mobile */
  }
}

.hover-item{
  display: none;
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.hover-info{
  display: none;
}


@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.hover {
  display: none;
  backdrop-filter: blur(30px);
  width: 300px;
  border-radius: 8px;
  position: absolute;
  height: 400px;
  z-index: 2;
  transform: translate(-10%,-100%);
  opacity: 0;
  animation: fade-in 0.5s forwards; 
}
@media screen and (max-width: 1024px) {
  .hover{
    scale: 0.8;
    transform: translate(-20%,-110%);
  }
}
@media screen and (max-width: 767px) {
  .hover{
    scale: 0.7;
    transform: translate(-35%,-120%);
  }
}

.grid-item:hover .hover {
  display: block;
  animation: fade-in 0.5s forwards; 
}
.img-hover{
  width: 100px;
  height: 140px;
  margin: 5px;
  border-radius: 8px;
}
.img-hover img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}
.hover-title{
  width: 175px;
  margin: 5px;
  max-height: 400px;
  text-align: left;
}
.hover-description{
  width: 90%;
  text-align: left;
  margin: 0 5%;
  font-size: small;
}
.visitbtn-div{
  position: absolute;
  bottom:5px;
  width: 100%;
  align-items: center;
}
.visitbtn-div button{
  background-color: #00CCCC;
  color: white ;
  transition: all 0.5s ease-in-out;
}
.visitbtn-div button:hover{
  background-color: #adf7f7;
  color: rgb(0, 175, 154) ;
}


