.player-wrapper{
    width: 100%;
    margin: 5% auto;
}
.player-wrapper div{
    width: 100% !important;
    height: auto !important;
    position: relative;
    left: 50%;
    transform: translate(-50%,0);
}