.background-image-container {
    position: relative;
    width: 100%;
    max-width: 100vw; /* Set max width to 50vw for laptop screens */
    overflow: hidden;
    display: flex;
    align-items: end;
    justify-content: end;
  }
  
  .background-image {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
  }
  