.background-image-container {
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: flex-end;
    justify-content:flex-end;
  }
  
  .background-image {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
  }
  