.footer-container{
    width:100%;
    position: absolute;
    left:0;
    margin-top: 100px;
  }

 .footer {
    z-index: 1;
    display: grid;
    position: relative;
    grid-area: footer;
    min-height: 180px;
  }
 .footer .bubbles {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 1rem;
    background: var(--footer-bg-color);
    filter: url("#blob");
  }
  .footer .bubbles .bubble {
    position: absolute;
    left: var(--position, 50%);
    background: var(--footer-bg-color);
    border-radius: 100%;
    -webkit-animation: bubble-size var(--time, 4s) ease-in infinite var(--delay, 0s), bubble-move var(--time, 4s) ease-in infinite var(--delay, 0s);
            animation: bubble-size var(--time, 4s) ease-in infinite var(--delay, 0s), bubble-move var(--time, 4s) ease-in infinite var(--delay, 0s);
    transform: translate(-50%, 100%);
  }
  .footer .content {
    background: var(--footer-bg-color);
    z-index: 2;
  }
  .footer .content .container {
    display: grid;
  }
  
  .content h2 {
    font-size: xx-large;
    margin-bottom: 0;
  }
  .footer__copyright{
    margin-top: 2.2rem;
    margin-bottom: 0;
  }
  .content span {
    font-size: smaller;
  }
 
  @-webkit-keyframes bubble-size {
    0%, 75% {
      width: var(--size, 4rem);
      height: var(--size, 4rem);
    }
    100% {
      width: 0rem;
      height: 0rem;
    }
  }
  
  @keyframes bubble-size {
    0%, 75% {
      width: var(--size, 4rem);
      height: var(--size, 4rem);
    }
    100% {
      width: 0rem;
      height: 0rem;
    }
  }
  @-webkit-keyframes bubble-move {
    0% {
      bottom: -4rem;
    }
    100% {
      bottom: var(--distance, 10rem);
    }
  }
  @keyframes bubble-move {
    0% {
      bottom: -4rem;
    }
    100% {
      bottom: var(--distance, 10rem);
    }
  }