.navbar-container{
    width:100%;
    position: fixed;
    z-index: 9999;
    top:0;
    left:0;
    background-color: var(--btn-bg-active);
    color:var(--btn-tx-active);
}
nav{
    text-align: start;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items:center;
    margin: 0 10%;
}
.nav-brand{
    font-size: large;
    font-family:fantasy;
    font-weight: bold;
    width: fit-content;
}
.nav-links{
    display: flex;
    width: 30%;
    justify-content: space-around;
}
.nav-links .nav-item{
    width:33.33334%;
    padding: 15px 0;
    text-align: center;
    background-color: var(--btn-bg-active) ;
}
.nav-user{
    width: 80px;
    padding: 15px 0;
    text-align: center;
}


.nav-toggle {
    display: none;
    font-size: 24px;
    cursor: pointer;
}

.menu-icon{
    width: 40px;
    height: 2px;
    background-color: white;
    margin: 6px 0;
    transition: all 0.2s ease-in !important;
}

@media screen and (max-width: 768px) {
    .navbar{
        margin: 0 5%;
    }
    .nav-links {
        display: none;
        width: 100%;
        flex-direction: column;
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        text-align: center;
        
    }

    /* Define the animation */
    @keyframes slideInTop {
        from {
            background-color: transparent;
            transform: translateY(-100%);
        }
        to {
            background-color: var(--btn-bg-color);
            transform: translateY(0);
        }
    }
    .nav-links .nav-item{
        width:100%;
    }
    .nav-links.show {
        display: flex;
        animation: slideInTop 0.5s ease forwards;
    }
    .nav-toggle {
        display: block;
        transition: transform 1s;
    }

    .nav-toggle i {
        color: #fff;
    }
}
&.menu-icon:nth-child(1){
    transform: translate(0, -8px);
}
&.menu-icon:nth-child(3){
    transform: translate(0, 8px);
}
.nav-toggle.active .menu-icon:nth-child(3) {
    opacity: 0;
}

.nav-toggle.active .menu-icon:nth-child(1) {
    transform: translate(0, 3.5px) rotate(45deg);
}

.nav-toggle.active .menu-icon:nth-child(2) {
    transform: translate(0, -3.5px) rotate(-45deg);
}

