.UpcomingAnime{
    display: flex;
    background-color: rgba(0,0,0,0.2);
    border-radius: 8px;
    max-height: 500px;
    max-width: 700px;

  }
  .UpcomingAnime div{
    margin: 5px;
    width: 50%;
    opacity: 0;
    transition: none !important;
  }
  
  .UpcomingAnime.fade-in div{
    opacity: 1 !important; 
    transition: all 0.5s !important;
  }
  
  .UpcomingImage{
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: none;
    background-size: cover;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(10px);
  }
  .UpcomingImage img{
    width: 100%;
    opacity: 1 !important; 
    margin: auto;
  }
  .UpcomingDetails div{
    width: 100%;
    outline: none;
  }
  .UpcomingDetails p{
    margin: auto;
  }
  .UpcomingTitle{
    text-align: left;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  @media only screen and (min-width: 935px) {
    .containerup .UpcomingAnime{
      display: none !important;
    }
    .UpcomingDetails p
    {
        font-size: large !important;
    }
  }
  @media only screen and (max-width: 450px) {
    .UpcomingDetails p
    {
        font-size: x-small ;
    }
  }