:root {
  font-family: "Open Sans", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  overflow-x: hidden;
  user-select:none;
  color: rgba(255, 255, 255, 0.87);
    background-color: #1e1e1e;
    --p-color: #ffffff;
    --h-color: #ffffff;
    --a-color: #ffffff;
    --btn-bg-color:  #1a1a1a;
    --btn-tx-color: #f0f0f0;
    --btn-bg-disable:#474747;
    --btn-tx-disable: #242424;
    --btn-bg-active: #CF2642;
    --btn-tx-active: #e9ef8d;
    --btn-bg-hover-color: #F24A66;;
    --btn-tx-hover-color: #ffffff;
    --input-bg-color:#151515;
    --input-tx-color:#cfcfcf;
    --input-bg-focus-color:#341a1f;
    --input-tx-focus-color:#ffffff;
    --footer-bg-color:#fa164b;
    --anime-name:#0f0f0f;
}
body{
  overflow: auto;
  scrollbar-gutter: stable both-edges;
  margin: 0;
}
.main{
  min-height: 100vh;
  
}
.container{
  width: 80%;
  margin: auto 10%;
}
*{
  transition: all 0.45s;
}
*:focus {
  outline: none;
}
.mt-2{
  margin-top: 5% ;
}
.mx-2{
  margin: 0 5%;
}
.md-2{
  margin-bottom: 2.5%;
}
a {
  font-weight: 500;
  color: #ffffff;
  text-decoration: inherit;
}
a:hover {
  color: #ffffff;
}
h6{
  margin: 0;
}
button {
  border-radius: 8px;
  border: 1px solid transparent;
  /* padding: 0.6em 1.2em; */
  /* font-size: 1em; */
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
.row{
  display: flex;
  flex-direction: row;
}
.col{
  width: auto;
}
ul{
  list-style: none;
  white-space: nowrap;
}
&::placeholder {
  color: white;
  opacity: 1;
}
.img-icon{
  filter: invert(100%);
}


/* @media (prefers-color-scheme: light) {
  :root {
    color: #0f0f0f;
    background-color: #f8c8ddc5;
    --p-color: #0088ff;
    --h-color: #ff44fc;
    --a-color: #747bff;
    --btn-bg-color:  #6de3d6;
    --btn-tx-color: #95021a;
    --btn-bg-disable:#bab9b9;
    --btn-tx-disable: #0a0a0a;
    --btn-bg-active: #CF2642;
    --btn-tx-active: #e9ef8d;
    --btn-bg-hover-color: #05a08e;
    --btn-tx-hover-color: #f0f0f0;
    --input-bg-color:#8dfbee;
    --input-text-color:#1a1a1a;
    --input-bg-focus-color:#d4f8f4;
    --input-tx-focus-color:#000000;
    --footer-bg-color:#fa164b;
    --anime-name:#524f4f;
  }
  
}
@media (prefers-color-scheme: dark) {
  :root {
    color: rgba(255, 255, 255, 0.87);
    background-color: #1e1e1e;
    --p-color: #ffffff;
    --h-color: #ffffff;
    --a-color: #ffffff;
    --btn-bg-color:  #1a1a1a;
    --btn-tx-color: #f0f0f0;
    --btn-bg-disable:#474747;
    --btn-tx-disable: #242424;
    --btn-bg-active: #CF2642;
    --btn-tx-active: #e9ef8d;
    --btn-bg-hover-color: #F24A66;;
    --btn-tx-hover-color: #ffffff;
    --input-bg-color:#151515;
    --input-tx-color:#cfcfcf;
    --input-bg-focus-color:#341a1f;
    --input-tx-focus-color:#ffffff;
    --footer-bg-color:#fa164b;
    --anime-name:#0f0f0f;
  
  }
} */


p{
  color: var(--p-color);
}
h1,h2,h3,h4,h5,h6{
  color: var(--h-color);
}
a:hover {
  color: var(--a-color);
}
input{
  background-color: var(--input-bg-color);
  color: var(--input-tx-color);
}
input:focus{
  background-color: var(--input-bg-focus-color);
  color: var(--input-tx-focus-color);
}
button, select{
  background-color: var(--btn-bg-color);
  color:var(--btn-tx-color);
  transition: all 0.5s ease-in-out;
}
button:hover, select:hover, .nav-item:hover {
  background-color: var(--btn-bg-hover-color);
  color:var(--btn-tx-hover-color);
}
button:disabled{
  background-color: var(--btn-bg-disable);
  color:var(--btn-tx-disable);
}

.anime-name {
  background: linear-gradient(0deg, var(--anime-name) 7%, rgba(255,255,255,0) 40%, rgba(255,255,255,0) 72%, rgba(255,255,255,0) 100%);
}
.currentactive-btn{
  background-color:  var(--btn-bg-active);
  color:var(--btn-tx-active);
}

h1{
  font-size: calc(2vw + 1.5vh) ;
}
button{
  font-size: calc(0.4vw + 1.6vh);
  padding: calc(0.3vw + 0.8vh) calc(0.4vw + 1.6vh);
}
h3{
  font-size: calc(1vw + 1vh);
}

  /* Media Query for Mobile Devices */ 
@media (max-width: 480px) { 

} 
  
/* Media Query for low resolution  Tablets, Ipads */ 
@media (min-width: 481px) and (max-width: 767px) { 
     
} 
  
/* Media Query for Tablets Ipads portrait mode */ 
@media (min-width: 768px) and (max-width: 1024px){ 
     
} 
  
/* Media Query for Laptops and Desktops */ 
@media (min-width: 1025px) and (max-width: 1280px){ 
     
} 
  
/* Media Query for Large screens */ 
@media (min-width: 1281px) { 
     
} 